In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from os import path
import sys

In [3]:
sys.path.append(path.abspath(path.join("..", "..")))
print(sys.path)

['c:\\Users\\smdbs\\Documents\\vscode\\DS2010_proj\\notebooks\\exploratory', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\python311.zip', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\DLLs', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\Lib', 'c:\\Users\\smdbs\\.conda\\envs\\PY311', '', 'C:\\Users\\smdbs\\AppData\\Roaming\\Python\\Python311\\site-packages', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\Lib\\site-packages', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\Lib\\site-packages\\win32', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\Lib\\site-packages\\win32\\lib', 'c:\\Users\\smdbs\\.conda\\envs\\PY311\\Lib\\site-packages\\Pythonwin', 'c:\\Users\\smdbs\\Documents\\vscode\\DS2010_proj']

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from src import DATA_PATH

Crime = pd.read_csv(path.join(DATA_PATH, "final", "crime_train.csv"))

print(Crime.shape)
Crime.head(), Crime.columns

(650913, 28)

(       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
 0  220617883  10/21/2022 12:00:00 AM  10/21/2022 12:00:00 AM      1410     6
 1  221811977  06/03/2022 12:00:00 AM  06/01/2022 12:00:00 AM      1700    18
 2  231405004  01/26/2023 12:00:00 AM  01/25/2023 12:00:00 AM      2300    14
 3  210814770  10/02/2021 12:00:00 AM  10/02/2021 12:00:00 AM       130     8
 4  220222356  12/29/2022 12:00:00 AM  10/25/2022 12:00:00 AM      1320     2

    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd         Crm Cd Desc  ... Status  \
 0  Hollywood          659         1     210             ROBBERY  ...     IC
 1  Southeast         1826         1     510    VEHICLE - STOLEN  ...     IC
 2    Pacific         1499         1     510    VEHICLE - STOLEN  ...     IC
 3    West LA          841         1     210             ROBBERY  ...     IC
 4    Rampart          249         2     662  BUNCO, GRAND THEFT  ...     AO

    Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
 0  Invest Cont    210.0      NaN       NaN      NaN
 1  Invest Cont    510.0      NaN       NaN      NaN
 2  Invest Cont    510.0      NaN       NaN      NaN
 3  Invest Cont    210.0      NaN       NaN      NaN
 4  Adult Other    662.0      NaN       NaN      NaN

                                    LOCATION Cross Street      LAT       LON
 0   5300 W  SUNSET                       BL          NaN  34.0981 -118.3056
 1   1500 E  CENTURY                      BL          NaN  33.9457 -118.2481
 2  11500    AVIATION                     BL          NaN  33.9300 -118.3784
 3                              SANTA MONICA    WELLESLEY  34.0396 -118.4655
 4   1300 W  5TH                          ST          NaN  34.0549 -118.2614

 [5 rows x 28 columns],
 Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
        'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
        'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
        'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
        'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
        'LON'],
       dtype='object'))

In [7]:
X = Crime[["TIME OCC", "AREA", "LAT", "LON"]]
X.shape

(650913, 4)

In [6]:
y = Crime["Crm Cd"]
y.shape

(650913,)

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train[:10], y_train[:10]

(        TIME OCC  AREA      LAT       LON
 1816         500     5  33.7827 -118.2662
 178289       425    10  34.1866 -118.4793
 623343      1630    13  34.0225 -118.2702
 318769       910     3  34.0109 -118.3070
 252831      2000    17  34.2228 -118.5191
 154672      1930    13  33.9767 -118.2565
 560328       835     5  33.7484 -118.2923
 493573       115     5  33.7326 -118.3050
 603303       400    14  33.9929 -118.4395
 306136       620    17  34.2583 -118.4745,
 1816      420
 178289    331
 623343    210
 318769    624
 252831    626
 154672    510
 560328    354
 493573    236
 603303    420
 306136    626
 Name: Crm Cd, dtype: int64)

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(pd.concat([X_train['AREA'], X_test['AREA']]))

X_train['AREA'] = le.transform(X_train['AREA'])
X_test['AREA'] = le.transform(X_test['AREA'])

X_train[:10]

        TIME OCC  AREA      LAT       LON
1816         500     4  33.7827 -118.2662
178289       425     9  34.1866 -118.4793
623343      1630    12  34.0225 -118.2702
318769       910     2  34.0109 -118.3070
252831      2000    16  34.2228 -118.5191
154672      1930    12  33.9767 -118.2565
560328       835     4  33.7484 -118.2923
493573       115     4  33.7326 -118.3050
603303       400    13  33.9929 -118.4395
306136       620    16  34.2583 -118.4745

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

X_train[:10]

array([[-1.28324261, -0.93655004, -2.6166941 ,  0.84666817],
       [-1.39807547, -0.11703516,  1.01171954, -1.1942799 ],
       [ 0.44690572,  0.37467378, -0.46246387,  0.80835849],
       [-0.65548968, -1.264356  , -0.56667183,  0.45590946],
       [ 1.01341447,  1.03028569,  1.33692027, -1.57546119],
       [ 0.90623714,  0.37467378, -0.87390567,  0.93956914],
       [-0.77032253, -0.93655004, -2.92482628,  0.59669752],
       [-1.87271793, -0.93655004, -3.06676472,  0.4750643 ],
       [-1.43635309,  0.53857675, -0.72837385, -0.81309861],
       [-1.09951005,  1.03028569,  1.65583259, -1.14830828]])

In [20]:
from sklearn.ensemble import HistGradientBoostingClassifier

HGBC = HistGradientBoostingClassifier(max_iter=100)

HGBC.fit(X_train, y_train)

HGBC.score(X_test, y_test)

0.11546822549795288

In [23]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(n_estimators=10)

RFC.fit(X_train, y_train)

RFC.score(X_test, y_test)

0.13777528555955848

In [25]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier(n_neighbors=11)

KNN.fit(X_train, y_train)

KNN.score(X_test, y_test)

0.13701481760291281

In [34]:
# random answer

# Get the prediction space
response_space = pd.concat([y_train, y_test], axis=0).unique()

# Get predictions
preds = np.random.choice(response_space, len(y_test))

# Calculate accuracy 
(y_test == preds).mean()

0.006813485631764516